@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allAuth{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

body{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;

}

.header{
    background-color: #f7f7f7;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
    h2{
        margin: 0;
    }
}

.form, .formReg{
    padding: 30px 40px;

    .form-control {
        margin-bottom: 10px;
        padding-bottom: 20px;
        position: relative;
    
        label{
            display: inline-block;
            margin-bottom: 5px;
        }
        input{
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            display: block;
            width: 100%;
            font-size: 14px;
            padding: 10px;
        }
        i{
            visibility: hidden;
            position: absolute;
            top: 35px;
            right: 10px;
        }
        small{
            visibility: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }    
    #loginbtn, #logIn ,#regbtn{
        background-color:  #8e44ad;
        border: 2px solid #8e44ad;
        border-radius: 4px;
        color: #fff;
        width: 100px;
        padding: 10px;
        font-size: 16px;
        font-family: inherit;
        cursor: pointer;
        display:block;
        margin: 0 auto;
        transition:  transform 250ms ease-in-out;
        &:hover {
            transform: scale(1.1) ;
        }
    }
    .form-control.success{
        input{
            border-color: #2ecc71;
        }
        i.fa-check-circle{
            visibility: visible;
            color: #2ecc71;
        }
    }
    .form-control.error {
        input{
            border-color: #e74c3c;
        }
        i.fa-exclamation-circle{
            visibility: visible;
            color: #e74c3c;
        }
        small{
            visibility: visible;
            color: #e74c3c;
        }
    }
}

@media screen and (max-width: 830px){
    .allAuth{
        gap: 2%;
    }

    .container{
        width: 330px;
    }
    .header{
        padding: 15px 30px;
    }
    .form{
        padding: 20px 30px;
    }
}
@media screen and (max-width: 670px){
    
    .allAuth{
        gap: 1.5%;
    }

    .container{
        width: 245px;
    }
    .header{
        padding: 15px 30px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formReg{
        padding: 10px 20px;
        .form-control {
            margin-left: 0.7%;
            margin-bottom: 3%;
            padding-bottom: 10px;
            font-size: 13px;
        
            label{
                margin-bottom: 5px;
            }
            input{
                font-size: 11px;
                padding: 10px;
            }
        }
        #loginbtn{
            width: 70px;
            padding: 8px 12px;
            font-size: 10px;
        }    
        .form-control.success{
            i.fa-check-circle{
                margin-top: -2%;
            }
        }
        .form-control.error {
            i.fa-exclamation-circle{
                margin-top: -1.5%;

            }
            small{
                font-size: 10px;
                margin-bottom: -2%;
            }
        }
    }
    .form{
        padding: 10px 25px;
    
        .form-control {
            margin-bottom: 5px;
            padding-bottom: 10px;
            font-size: 12px;
        
            label{
                margin-bottom: 5px;
            }
            input{
                font-size: 11px;
                padding: 10px;
            }
        }    
        #regbtn, #loginbtn,#logIn{
            width: 70px;
            padding: 8px 12px;
            font-size: 10px;
        }
        .form-control.success{
            i.fa-check-circle{
                color: #2ecc71;
                margin-top: -2%;
            }
        }
        .form-control.error {
            i.fa-exclamation-circle{
                margin-top: -1.5%;

            }
            small{
                font-size: 10px;
                margin-bottom: -2%;
            }
        }
    }
}
