@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-block: 15px;
  display: flex;
  justify-content: center;
  gap: 5%;
  z-index: 2;
}
.container #formsumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 17em;
  height: 26em;
  background: linear-gradient(#2d2929, #bebebe, #2d2929);
  padding-block: 1em;
  border-radius: 20px;
}
.container #formsumb [type=text], .container #formsumb [type=password] {
  height: 1.9em;
  font-size: 15px;
  border-radius: 15em;
  padding: 10px;
}
.container #formsumb .fileDiv {
  padding: 2px;
  border: 2px solid #494949;
  border-radius: 2mm;
  width: 200px;
}
.container #formsumb .fileDiv #lblInfo {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #formsumb .fileDiv #lblInfo .imageIcon {
  margin-top: 2%;
  cursor: pointer;
  font-size: 1.5em;
}
.container #formsumb .fileDiv #lblInfo .imageIcon:hover {
  color: rgb(99, 99, 99);
}
.container #formsumb .fileDiv #lblInfo .fileinput {
  display: none;
}
.container #formsumb #lblTxt {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container #formsumb [type=submit] {
  padding: 8px;
  font-size: 15px;
  border-radius: 2mm;
  border-style: none;
  cursor: pointer;
  transition: transform 100ms;
  box-shadow: 5px 5px 5px rgb(116, 116, 116);
}
.container #formsumb [type=submit]:hover {
  transform: translate(3px, 4px);
  box-shadow: 1px 1px 1px rgb(116, 116, 116);
}
.container #formsumb #textarea {
  resize: none;
  border-radius: 1.5mm;
  width: 15em;
  height: 10em;
}
.container article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container article .players {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26em;
  background: linear-gradient(#e5d1d1, #272727, #e5d1d1);
  border-radius: 20px;
}
.container article .players #rightbtn, .container article .players #leftbtn {
  box-shadow: 5px 5px 2.5px rgb(155, 155, 155);
  border-radius: 2.5mm;
  border: none;
  margin: 10px;
  padding: 8px 10px;
  background: linear-gradient(#e5d1d1, black, #e5d1d1);
  color: aliceblue;
  cursor: pointer;
  transition: transform box-shadow 200ms ease-in;
}
.container article .players #rightbtn:hover, .container article .players #leftbtn:hover {
  transform: translate(2px, 3px);
  box-shadow: 1px 1px 1px rgb(155, 155, 155);
}
.container article .players .slider {
  border-radius: 12px;
  margin-bottom: 15%;
  width: 11em;
  height: 22em;
  overflow: hidden;
}
.container article .players .slider .swrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.container article .players .slider .swrapper .card {
  background-color: aliceblue;
  float: left;
  width: 11em;
  height: 22em;
  border-radius: 12px;
  padding: 10px;
  transition: transform 400ms ease-out;
}
.container article .players .slider .swrapper .card img {
  width: 100%;
  min-height: 13.5em;
  max-height: 13.8em;
}
.container article .players .slider .swrapper .card hr:nth-of-type(2) {
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2mm;
}
.container article .players .slider .swrapper .card .containerForP {
  height: 6.5em;
  overflow: hidden;
  font-size: 10px;
  word-wrap: break-word;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: rgb(81, 79, 79);
}
.container article .players .slider .swrapper .card .containerForP p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 10px;
  font-weight: bold;
  color: rgb(81, 79, 79);
}
.container article .players .slider .swrapper .card p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(81, 79, 79);
}
.container article .players .slider .swrapper .card b {
  font-size: 15px;
  display: block;
  text-align: center;
}
.container article .sliderDots {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 8px;
  margin-top: -45px;
}
.container article .sliderDots .btnBlock {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.container article .sliderDots .btnBlock #remButn, .container article .sliderDots .btnBlock .addedPlayer {
  color: #000000;
  width: 2em;
  height: 1.35em;
  border-radius: 10px;
  border: none;
  transition: background-color 500ms ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(100, 100, 100);
}
.container article .sliderDots .btnBlock #remButn:hover, .container article .sliderDots .btnBlock .addedPlayer:hover {
  background-color: #212121;
  color: rgb(232, 232, 232);
  box-shadow: none;
}

#dots {
  display: flex;
  gap: 8px;
}
#dots .dot {
  width: 12px;
  height: 12px;
  background-color: rgb(80, 80, 80);
  opacity: 80%;
  border-radius: 50%;
  box-shadow: 3.5px 3.5px 3px rgb(0, 0, 0);
  cursor: pointer;
  transition: transform background-color 200ms;
}
#dots .dot:hover {
  background-color: rgb(232, 232, 232);
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
  transform: translate(2.5px, 2.5px);
}
#dots .dot.selected {
  background-color: aliceblue;
}

@media screen and (max-width: 660px) {
  .container #formsumb {
    gap: 0.5em;
    width: 13em;
    height: 22em;
  }
  .container #formsumb [type=text], .container #formsumb [type=password] {
    width: 13em;
    height: 1.8em;
    font-size: 14px;
  }
  .container #formsumb .fileDiv {
    padding: 3px 0px 10px 0px;
    width: 180px;
  }
  .container #formsumb .fileDiv #lblInfo .imageIcon {
    margin-top: 1%;
    font-size: 1.35em;
  }
  .container #formsumb [type=submit] {
    padding: 5px;
  }
  .container #formsumb #textarea {
    resize: none;
    border-radius: 1.5mm;
    width: 14.5em;
  }
  .container article .players {
    height: 22em;
    width: 13em;
  }
  .container article .players #rightbtn, .container article .players #leftbtn {
    border-radius: 2mm;
    margin: 3px;
    padding: 5px 3.5px;
  }
  .container article .players .slider {
    margin-bottom: 15%;
    width: 8em;
    height: 17.5em;
  }
  .container article .players .slider .swrapper .card {
    width: 8em;
    height: 17.5em;
  }
  .container article .players .slider .swrapper .card img {
    width: 100%;
    min-height: 60%;
  }
  .container article .players .slider .swrapper .card .containerForP {
    height: 6em;
  }
  .container article .sliderDots {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 8px;
    margin-top: -45px;
  }
  .container article .sliderDots .btnBlock {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  .container article .sliderDots .btnBlock #remButn, .container article .sliderDots .btnBlock .addedPlayer {
    color: #048f37;
    width: 2em;
    height: 1.35em;
    border-radius: 10px;
    border: none;
    transition: background-color 500ms ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(100, 100, 100);
  }
  .container article .sliderDots .btnBlock #remButn:hover, .container article .sliderDots .btnBlock .addedPlayer:hover {
    background-color: #048f37;
    color: rgb(32, 32, 32);
    box-shadow: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#TicTac {
  display: flex;
  justify-content: center;
}

.area-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1% 0% 2% 0%;
}

#area {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 1%;
}

.blokbox {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 35px;
  color: rgb(49, 45, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 95, 173);
  cursor: pointer;
  font-family: "Rubik Bubbles", cursive;
}

#result-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: none;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#window {
  width: 150px;
  height: 90px;
  border-radius: 1mm;
  border: 2px solid orangered;
  background-color: rgb(252, 73, 8);
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  z-index: 1;
}
#window #content {
  margin-top: 1em;
}

#btn-close {
  width: 150px;
  height: 20px;
  background-color: blue;
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

#content {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 20%;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background: #171c24;
  opacity: 0.9;
  width: 100%;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.content .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  background: #323c4e;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}

.search-box input::-moz-placeholder {
  color: #ffffff;
}

.search-box input:-ms-input-placeholder {
  color: #ffffff;
}

.search-box input::placeholder {
  color: #ffffff;
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.wrapper input[type=checkbox] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  border-radius: 2mm;
  position: absolute;
  background: #171c24;
  top: 80px;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    z-index: 50;
    display: block;
    position: absolute;
    background: #14181f;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
.content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
.content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
.content .links #show-services:checked ~ ul,
.content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}
@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}
.parallax {
  background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #222;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  overflow: hidden;
}
.section .gradient {
  position: absolute;
  transition: all 500ms ease-out;
  --size: 400px;
  --speed: 15s;
  --easing: ease-in-out;
  width: 100%;
  height: 150%;
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsla(158deg, 82%, 57%, 0.85), hsl(252deg, 82%, 57%));
  -webkit-animation: rotate var(--speed) var(--easing) alternate infinite;
          animation: rotate var(--speed) var(--easing) alternate infinite;
}
@-webkit-keyframes rotate {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(90%);
  }
}
@keyframes rotate {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(90%);
  }
}

.blend {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30em;
}
.blend h1 {
  z-index: 1;
  margin-bottom: 5mm;
  font-size: 7vw;
  mix-blend-mode: overlay;
  color: rgb(83, 46, 0);
  opacity: 0.99;
  white-space: nowrap;
}

.sometext {
  padding: 5%;
  font-family: "Courier New", Courier, monospace;
  z-index: 2;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: snow;
}

.xo {
  z-index: 2;
  width: 100%;
}

.images {
  z-index: 2;
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.images img {
  border-radius: 2mm;
  max-width: 20%;
  min-width: 15%;
  transition: transform 500ms;
}
.images img:hover {
  transform: scale(1.25);
  border-radius: 10px;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: rgb(105, 105, 105);
}
footer .main-content {
  display: flex;
}
footer .main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
footer .box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
footer .box .content2 {
  margin: 20px 0 0 0;
  position: relative;
}
footer .box .content2:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
footer .box .content2:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
footer .left .content2 p {
  text-align: justify;
}
footer .left .content2 .social {
  margin: 20px 0 0 0;
}
footer .left .content2 .social a {
  padding: 0 2px;
}
footer .left .content2 .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
footer .left .content2 .social a span:hover {
  background: #f12020;
}
footer .center .content2 .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
footer .center .content2 .fas:hover {
  background: #f12020;
}
footer .center .content2 .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
footer .center .content2 .phone {
  margin: 15px 0;
}
footer .right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
footer .right form .msg {
  margin-top: 10px;
}
footer .right form input, footer .right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
footer .right form input:focus,
footer .right form textarea:focus {
  outline-color: #3498db;
}
footer .right form input {
  height: 35px;
}
footer .right form .btn {
  margin-top: 10px;
}
footer .right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
footer .right form .btn button:hover {
  background: #000;
}
footer .bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
footer .bottom center span {
  color: #656565;
}
footer .bottom center a {
  color: #f12020;
  text-decoration: none;
}
footer .bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer footer {
    position: relative;
    bottom: 0px;
  }
  footer .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .main-content .box {
    margin: 5px 0;
  }
}/*# sourceMappingURL=style.css.map */