@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import "./slider";
@import "./xo";
@import "./header";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
#userLoged{
  color: snow;
  margin-top: 5%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
.parallax {
  background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {

  position: relative;
  z-index: 1;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 2mm;
  position: relative;
  height: fit-content;
  width: 90%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  overflow: hidden;


  .gradient {
    position: absolute;
    transition: all 500ms ease-out;
    --size: 400px;
    --speed: 15s;
    --easing: ease-in-out;
    // --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    // width: var(--size);
    // height: var(--size);
    width: 100%;
    height: 150%;
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(burlywood, snow);
    opacity: 0.5;
    animation: rotate var(--speed) var(--easing) alternate infinite;
    // transform: translateY(10%) alternate  infinite;
    // border-radius: 30% 30% 70% 30% / 30% 30% 70% 70%;
    // border-radius: 50%;
  }

  @keyframes rotate {
    0% {
      transform: translateY(-90%);
    }
    100% {
      transform: translateY(90%);
    }
  }

}
.sectionTitle{
  font-size: 30px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blend {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 450px;
  h1 {
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
    margin-bottom: 5mm;
    font-size: 5vw;
    mix-blend-mode: overlay;
    color: rgb(49, 49, 49);
    opacity: 0.99;
    white-space: nowrap;
  }
}

.sometext{
  position: relative;
  z-index: 50;
  padding: 5%;
  font-family: 'Courier New', Courier, monospace;
  z-index: 2;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px snow;
}
.xo{
  z-index: 2;
  width: 100%;
}


.fa-rotate-left{
  z-index: 2;
  text-shadow: 0px 0px 3px snow;
  cursor: pointer;
  font-size: 40px;
  margin-top: -2%;
  margin-bottom: 2%;
  color: rgb(20, 20, 20);
  border: 2px solid rgb(20, 20, 20);
  box-shadow: 0px 0px 3px snow;
  border-radius: 50px;
  padding: 0.7%;
  padding-top: 0.7%;
  transition: transform 500ms;
  &:hover{
    transform: scale(1.1);
  }
}
.images {
  z-index: 2;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    
    img {
      cursor: pointer;
       border-radius: 2mm;
       // width: 25%;
       max-width: 20%;
       min-width: 15%;
       transition: transform 500ms;
    }
  
    img:hover {
    transform: scale(1.25);
    border-radius: 10px;
    }
}


footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: rgb(105, 105, 105);
  
.main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content2{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content2:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content2:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content2 p{
    text-align: justify;
  }
  .left .content2 .social{
    margin: 20px 0 0 0;
  }
  .left .content2 .social a{
    padding: 0 2px;
  }
  .left .content2 .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content2 .social a span:hover{
    background: #f12020;
  }
  .center .content2 .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content2 .fas:hover{
    background: #f12020;
  }
  .center .content2 .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content2 .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  
}